aiohttp
beautifulsoup4
lxml
requests
pandas
numpy
openpyxl
yfinance
transformers
torch
plyer
python-dateutil
pytz
streamlit
plotly
streamlit-aggrid
scikit-learn
matplotlib
statsmodels
selenium
sqlalchemy
psycopg2-binary
python-dotenv
pyyaml
minio
scipy
Backtesting